.airports {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 575px) {
    flex-direction: row;
  }
}

.airport {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 575px) {
    width: 50%;
  }
}

.airport-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 80px;
}

.airport-date {
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
}
